//Table basic shared vars
$margin: 5px;
$column-width: 300px;
$column-flex: 1;
$column-shrink: 0;
$column-margin: 0 $margin 0 0;
$column-padding: .5rem;

@mixin fold {
    .card {
        align-self: flex-start;
        // margin: .5rem auto 0;
        margin: .1rem;
        tg-card-slideshow,
        .card-unfold,
        .card-tag,
        .card-title,
        .card-owner-actions,
        .card-data,
        .card-statistics,
        .card-owner-name {
            display: none;
        }
        .card-owner {
            img {
                height: 1.3rem;
                // margin-right: 0;
                width: 1.3rem;
            }
        }
    }
    &.taskboard-column,
    .taskboard-column {
        align-content: flex-start;
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
    }
    .avatar-task-link {
        display: block;
    }
    .avatar-assigned-to {
        display: none;
    }
}

.taskboard-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
    &.zoom-0 {
        .task-colum-name span {
            padding-right: 1rem;
        }
    }

    .task-colum-name {
        @include font-size(medium);
        align-items: center;
        // background-color: $grey-02;
        border-top: 5px solid $gray-light;
        color: $gray;
        display: flex;
        flex-basis: $column-width;
        flex-grow: $column-flex;
        flex-shrink: $column-shrink;
        margin: $column-margin;
        max-width: $column-width;
        padding: $column-padding;
        text-transform: uppercase;
        transition: all .1s linear;
        width: $column-width;
        &.task-colum-name-title {
            // scss-lint:disable ImportantRule
            flex-basis: $column-width + 50;
            max-width: $column-width + 50;
            padding-left: 2.5rem !important;
            width: $column-width + 50;
        }
        &:last-child {
            margin-right: 0;
        }
        &.column-fold {
            align-items: center;
            justify-content: center;
            padding: .3rem 0;
            span {
                display: none;
            }
            .hfold,
            .hunfold {
                margin: 0;
            }
        }
        span {
            @include ellipsis(65%);
        }
    }
}

.taskboard-table-header {
    background: $white;
    box-shadow: 0 3px 3px darken($color: $white, $amount: 5);
    min-height: 2.4rem;
    position: relative;
    width: 100%;
    z-index: 1;
    &::before {
        background: $gray-light;
        content: '';
        display: block;
        height: 5px;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .taskboard-table-inner {
        display: flex;
        overflow: hidden;
        position: absolute;
    }
    tg-svg {
        align-items: center;
        display: inline-flex;
        fill: $grey-30;
        margin-right: .75rem;
        stroke: $grey-30;
        &:hover {
            cursor: pointer;
        }
        &.hfold,
        &.hunfold {
            display: inline-block;
        }
    }
}

.taskboard-table-body {
    background: $grey-02;
    flex: 1;
    margin-top: 1px;
    overflow: auto;
    position: relative;
    width: 100%;
    // background: $grey-10;
    &::before {
        background: $white;
        border-right: 1px solid lighten($color: $grey-10, $amount: 3);
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        width: $column-width + 50 - 1;
        z-index: 0;
    }
    .taskboard-column {
        flex-basis: $column-width;
        flex-grow: $column-flex;
        flex-shrink: $column-shrink;
        margin: $column-margin;
        max-width: $column-width;
        transition: all .1s linear;
        width: $column-width;
        &:last-child {
            margin-right: 0;
        }
        &.taskboard-row-title-box {
            flex-basis: $column-width + 50;
            max-width: $column-width + 50;
            padding-left: 2.5rem;
            width: $column-width + 50;
        }
    }
    .row-fold {
        @include fold;
    }
    .column-fold {
        @include fold;
    }
    .taskboard-row {
        display: flex;
        margin-bottom: .25rem;
        // min-height: 10rem;
        width: 100%;
        &.blocked {
            .taskboard-row-title-box {
                background: rgba($red, .6);

            }
            .taskboard-row-title-box svg,
            .taskboard-row-title-box svg:hover,
            .points-value,
            .points-value:hover {
                color: $white;
                fill: $white;
                transition: color .3s linear;
            }
            .status-value,
            .status-value:hover {
                background: $white;
                line-height: 1.75em;
                padding: 0 .7em;
            }
            .taskboard-cards-box {
                background: rgba($red, .1);
            }
        }
        &.row-fold {
            min-height: 0;
            .us-title {
                @include ellipsis(100%);
            }
            .status-value,
            .points-value,
            .us-data,
            .icon-add,
            .icon-bulk {
                display: none;
            }
            .taskboard-cards-box {
                padding-top: 0;
            }
            .card {
                margin: .2em;
            }
        }
        &.issues-row {
            // margin-top: 1em;
            // border-bottom: 1px solid lighten($color: $grey-10, $amount: 3);
            .taskboard-cards-box {
                align-content: flex-start;
                align-items: flex-start;
                border-top: 5px solid $gray-light;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
            }
            .taskboard-row-title-box {
                padding: 0;
            }
            .task-colum-name {
                justify-content: flex-start;
                padding: .5rem .5rem .5rem 2em;
            }
            .row-title {
                flex-grow: 1;
            }
            .toggle-fold {
                display: block;
                left: 0;
                position: absolute;
                top: -3px;
            }
            .card {
                cursor: default;
                height: auto;
                margin: .5rem;
            }
        }
        &.issues-row:not(.row-fold) {
            .card {
                width: 285px;
            }
        }
    }
    .taskboard-row-title-box {
        padding: .5rem .5rem .5rem 2.5rem;
    }

}

// .taskboard-cards-box {
//     background-color: $grey-02;
// }

.taskboard-cards-box .card:last-child {
    margin-bottom: 1.5rem;
}

.taskboard-row-title-box {
    background: $white;
    position: relative;
    .us-title {
        @include font-type(text);
        font-size: .95rem;
        margin-bottom: 0;
        margin-right: 3rem;
    }
    .status-value {
        @include font-size(small);
        display: block;
        margin: .25em 0 0;
        width: fit-content;
        span {
            margin-right: .1rem;
        }
    }
    .points-value {
        @include font-size(small);
        color: $gray-light;
        margin: .25em 0 0;
        width: fit-content;
        span {
            margin-right: .1rem;
        }
    }
    .due-date {
        tg-svg {
            position: inherit;
        }
    }
    tg-svg {
        cursor: pointer;
        display: block;
        position: absolute;
        right: .5rem;
        top: .7rem;
        &:hover {
            svg {
                fill: $primary;
            }
        }
        &.add-action {
            right: 2rem;
        }
        &.fold-action {
            left: 12px;
            right: inherit;
            top: .95rem;
        }
    }
}
